<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Short URL</th>
      <th scope="col">Full URL</th>
      <th scope="col">Title</th>
      <th scope="col">Accesses</th>
    </tr>
  </thead>
  <tbody>
    <% @shorteners.each_with_index do |shortener, index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%= short_url_display shortener.short_url %></td>
        <td><%= shortener.full_url_redirect %></td>
        <td><%= shortener.html_title %></td>
        <td><%= shortener.counter %></td>
      </tr>
    <% end %>
  </tbody>
</table>