<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th style='width: 10%;'>Rank</th>
      <th>Short URL</th>
      <th>Full URL</th>
      <th>Title</th>
      <th style='width: 10%;'>Accesses</th>
    </tr>
  </thead>
  <tbody>
    <% @shorteners.each_with_index do |shortener, index| %>
      <tr>
        <td><%=index+1%></td>
        <td><%= short_url_display shortener.short_url %></td>
        <td><%= truncate(shortener.full_url_redirect, length: 65) %></td>
        <td><%= truncate(shortener.html_title, length: 65)%></td>
        <td><%= shortener.counter %></td>
      </tr>
    <% end %>
  </tbody>
</table>